.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}



.particles {
  /* 
    z-index is layer, particles will be behind. Works on position fixed, absolute.
    position fixed means image doesn't move even if you scroll
  */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
